*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.tudo{
  width: 100%;
  margin: auto;
}

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Corporate A Light', sans-serif;
    background-color: #000000;
/*   user-select: none; Tag usada para usuário não conseguir selecionar textos, imagens...*/
           
}

img{
  max-width: 100%;
  height: auto;
}

::selection{ /*quando a pessoa seleciona os elementos da página*/
    background: #ffffff;
    color: black;

}

header{
  width: 100%;
  height: 110px;
  background-color: #000;
  float: right;
}

.typing-intro-animation-logo{
    position: absolute;
    width: 8em;
    margin-left: 7em;
    top: 1.4em;
    animation: intro .55s;
    animation-delay: 12s;
    float: left;


}

.typing-intro-animation-logo:hover{
    transform: scale(1.05);
    transition: .3s;

}

@keyframes intro{
  0%{
  width: 8em;
  opacity: 0;
  }
  25%{
  width: 8.5em;
  opacity: 0;
  }
  50%{
  width: 8em;
  opacity: .5;
  }
  75%{
  width: 8em;
  opacity: .8;
  }
  100%{
  width: 8em;
  opacity: 1;
  }
}
 
.typing-animation{
  font-size: 2.5em;
  position: relative;
  margin-left: 5.4em;
  color: #919191;
  top: -.30em;
  letter-spacing: 5px;
  font-family: 'Syncopate';
  text-transform: uppercase;
  margin-top: 1.22em;
  white-space: nowrap;
  overflow: hidden;
  padding-left: .5em;
  float: left;
  animation: blinkCursor 5s normal .5s, typing 24s .01s normal;
  

}

@keyframes typing{

  0%{
  width: 0;
  color: #e1c1ff;
  }
  25%{
  color: #ffffff;
  }
  40%{
  color: #ffffff;
  }
  45%{
  color: #e1c1ff;
  }
  55%{
  color: #baa7ff;
  }
  60%{
  color:#49bcff;
  }
  68%{
  color: #c4f1ff;
  }
  100%{
  width: 12em;
  color: #919191;
  }
}

.bg_video{
  width: 100%;
  position: absolute;
  top: -1em;
  background-color: #000000;
  z-index: -1;

}

.slogan{
  font-family: 'Corporate A Light';
  font-size: 4em;
  color: #ffffff;
  top: 20em;
  position: absolute;
  left: 21.5%;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 1px;
  animation-delay: 2s;
  animation: slogan normal, slogan 25s normal;
  animation-fill-mode: both;
  float: right;

}

@keyframes slogan{
  0%{
  width: 0;
  color: #000000;
  }
  20%{
  width: 0;
  color: #000000;
  }
  100%{
  width: 22em;
  }
}

.slider{
  width: 100%;
  overflow: hidden;
  margin: auto;
  background-size: cover;

}

.slides{
  width: 500%;
  display: flex;
  margin-top: 100em;

}

.slide img{
  width: 100%;
  margin: auto;

}

.slides input{
  display: none;

}

.slide{
  width: 20%;
  transition: 2s;

}

.navigation-auto, .navigation-manual{
  display: flex;
  position: absolute;
  margin: auto;
  left: 74%;
  padding-top: 2em;
  cursor: pointer;
  z-index: 1;

}

.navigation-auto div{
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: .5s;
  width: 3em;
  opacity: 1;


}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
  
}

.manual-btn{
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: .5s;
  width: 3em;

  
}

.manual-btn:not(:last-child){
  margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: rgba(255, 255, 255, 0.6);

}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: rgba(255, 255, 255, 0.6);

}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: rgba(255, 255, 255, 0.6);

}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: rgba(255, 255, 255, 0.6);

}

#radio5:checked ~ .navigation-auto .auto-btn5{
  background-color: rgba(255, 255, 255, 0.6);

}

.manual-btn:hover{
  background-color: rgba(255, 255, 255, 0.6);

}


#radio1:checked ~ .first{
  margin-left: 0;

}

#radio2:checked ~ .first{
  margin-left: -20%;

}

#radio3:checked ~ .first{
  margin-left: -40%;

}

#radio4:checked ~ .first{
  margin-left: -60%;

}

#radio5:checked ~ .first{
  margin-left: -80%;

}

.container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  top: 180em;
  position: absolute;

}

.vertical-1{
  top: 10em;
  position: relative;
  padding-right: 2em;

}

.vertical-2{
  top: 25em;
  position: relative;

}

.container-white{
  position: relative;
  top: -70em;
        
}

.background-white{
  width: 100%;
  height: 550em;
  background-color: #ffffff;
  position: absolute;
  z-index: -1;
  top: 215em;

}

.video{
  width: 83%;
  position: absolute;
  margin-top: 20em;
  top: 208em;
  border-left: 20em solid #eee;






}


  
.about{
  font-family: 'Corporate A Light';
  color: #141414;
  font-size: 1.5em;
  position: absolute;
  top: 184em;
  z-index: 1;
  margin-left: 32em;




}

.text-about{
  color: #141414;
  font-size: 1em;
  line-height: 1.5em;
  position: absolute;
  top: 280em;
  margin: 0 20em 0 20em;
  z-index: 1;
  text-indent: 2em;


  

}

.intern img{
  display: flex;
}
      
.intern-1 img{
  margin: 8em;
  width: 60%;
  top: 285em;
  position: absolute;
  margin-left: 40%;
  border-left: 4px solid #f1f1f1;
  border-top: 4px solid #f1f1f1;
  border-bottom: 4px solid #f1f1f1;
  border-right:  140px solid #f1f1f1;
}

.head_parag_1{
  font-family: 'Corporate A Light';
  color: #141414;
  font-size: 1.7em;
  position: absolute;
  top: 174.5em;
  margin: auto;
  margin-left: 4.2em;
        
}

.parag_1{
  color: #141414;
  font-size: 1em;
  line-height: 1.5em;
  position: absolute;
  top: 304em;
  margin-left: 7em;
  margin-right: 65%;
  text-indent: 2em;
  float: left;

}

.intern-2 img{
  margin: 8em;
  width: 60%;
  top: 330em;
  position: absolute;
  margin-left: 0;
  border-right: 4px solid #f1f1f1;
  border-top: 4px solid #f1f1f1;
  border-bottom: 4px solid #f1f1f1;
  border-left:  140px solid #f1f1f1;

}

.head_parag_2{
  font-family: 'Corporate A Light';
  color: #141414;
  font-size: 1.7em;
  position: absolute;
  top: 200.5em;
  margin: auto;
  float: left;
  margin-left: 46.2em;

     
}

.parag_2{
  color: #141414;
  font-size: 1em;
  line-height: 1.5em;
  position: absolute;
  top: 346.5em;
  margin-right: 7em;
  margin-left: 66%;
  text-indent: 2em;
  float: left;

}

.intern-3 img{
  margin: 8em;
  width: 60%;
  top: 375em;
  position: absolute;
  margin-left: 40%;
  border-left: 4px solid #f1f1f1;
  border-top: 4px solid #f1f1f1;
  border-bottom: 4px solid #f1f1f1;
  border-right:  140px solid #f1f1f1;

}

.head_parag_3{
  font-family: 'Corporate A Light';
  color: #141414;
  font-size: 1.7em;
  position: absolute;
  top: 228em;
  margin: auto;
  margin-left: 4.2em;
        
        
}

.parag_3{
  color: #141414;
  font-size: 1em;
  line-height: 1.5em;
  position: absolute;
  top: 393em;
  margin-left: 7em;
  margin-right: 65%;
  text-indent: 2em;
  float: left;
}

      
.intern-4 img{
  margin: 8em;
  width: 60%;
  top: 420em;
  position: absolute;
  margin-left: 0;
  border-right: 4px solid #f1f1f1;
  border-top: 4px solid #f1f1f1;
  border-bottom: 4px solid #f1f1f1;
  border-left:  140px solid #f1f1f1;
      
}

.head_parag_4{
  font-family: 'Corporate A Light';
  color: #141414;
  font-size: 1.7em;
  position: absolute;
  top: 254em;
  margin: auto;
  float: left;
  margin-left: 46.2em;

        
}

.parag_4{
  color: #141414;
  font-size: 1em;
  line-height: 1.5em;
  position: absolute;
  top: 437em;
  margin-right: 7em;
  margin-left: 66%;
  text-indent: 2em;
  float: left;
     
}


.container-black{
  width: 100%;
  height: 230em;
  background-color: #000000;
  position: absolute;
  top: 478em;

}
   
.extern-1 img{
  margin: 8em;
  width: 50%;
  top: 490em;
  position: relative;
  z-index: 1;
  margin-left: 60em;
  border-left: 4px solid #030303;
  border-top: 4px solid  #030303;
  border-bottom: 4px solid  #030303;
  border-right:  130px solid  #030303;

}

.flaps{
  margin: 8em;
  width: 40%;
  top: 455em;
  margin-left: -1em;
  position: relative;
  z-index: 1;
  border-left: 130px solid #030303;
  border-top: 4px solid  #030303;
  border-bottom: 4px solid  #030303;
  border-right: 4px solid  #030303;
     
}

.head_parag_5{
  font-family: 'Corporate A Light';
  color: #ffffff;
  font-size: 1.7em;
  position: absolute;
  top: 292em;
  margin-left: 4em;
  border-bottom: 2px solid #494949;
  padding-right: 24em;
  z-index: 1;
  float: left;
        
}

.parag_5{
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5em;
  position: absolute;
  top: 502.5em;
  margin-left: 6.5em;
  margin-right: 55%;
  text-indent: 2em;
  float: left;

}

.extern-2 img{
  margin: 8em;
  width: 60%;
  top: 470em;
  margin-left: -1em;
  position: relative;
  z-index: 1;
  border-left: 130px solid #030303;
  border-top: 4px solid  #030303;
  border-bottom: 4px solid  #030303;
  border-right: 4px solid  #030303;
      
}

.head_parag_6{
  font-family: 'Corporate A Light';
  color: #ffffff;
  font-size: 1.7em;
  position: absolute;
  top: 337em;
  margin-left: 32em;
  border-bottom: 2px solid #494949;
  padding-left: 22em;
  z-index: 1;
  float: left;

        
}

.parag_6{
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5em;
  position: absolute;
  top: 579em;
  margin-left: 50em;
  margin-right: 6%;
  margin-left: 64%;
  text-indent: 2em;
  float: left;
      
}

.extern-3 img{
  margin: 8em;
  width: 50%;
  top: 475em;
  margin-left: 60em;
  position: relative;
  z-index: 1;
  border-left: 4px solid #030303;
  border-top: 4px solid  #030303;
  border-bottom: 4px solid  #030303;
  border-right: 130px solid  #030303;

}

.head_parag_7{
  font-family: 'Corporate A Light';
  color: #ffffff;
  font-size: 1.7em;
  position: absolute;
  top: 368em;
  margin-left: 4em;
  border-bottom: 2px solid #494949;
  padding-right: 24em;
  z-index: 1;
  float: left;

        
}

.parag_7{
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5em;
  position: absolute;
  top: 632em;
  margin-left: 6.5em;
  margin-right: 55%;
  text-indent: 2em;
  float: left; 

}

.sketchs{
  display:flex;
  width: 60%;
  margin-left: .2em;


}

.sketchs img{
  position: relative;
  top: 424em;
  width: 100%;
  padding: 1em;
  background-color: #e0e0e0;
  display:flex;
  margin-left: 22em;

          
}

.sketchs img:hover{
  transform: scale(1.5);
  transition: 1s;
  z-index: 1;
      
}

.avatar_logo{
  width: 15em;
  position: absolute;
  z-index: 1;
  top: 855em;
  margin-left: 55.5em;

      
}

.mercedes_logo{
  width: 7em;
  position: absolute;
  top: 855.4em;
  margin-left: 47.5em;
  border-right: 4px solid #ccc;

      
}

.logo_footer_mercedes{
  margin-left: 15em;
  font-family: 'Corporate A Light';
  font-size: 1.6em;
  position: absolute;
  top: -9em;
  float: left;
      
}

.footer_block_1{
  position: absolute;
  color: #ccc;
  font-family: sans-serif;
  margin-left: 42em;
  line-height: 2em;
  top: -17.8em;
  float: left;
      
}

.footer_block_2{
  position: absolute;
  color: #ccc;
  font-family: sans-serif;
  margin-left: 55.3em;
  line-height: 2em;
  top: -17.8em;
  float: left;
      
}


.footer_block_1, .footer_block_2, li, a{
  text-decoration: none;
  display: block;
  color: #ccc;
  
      
}

.social{
  color: #ffffff;
  display: flex;
  position: relative;
  width: 20em;
  top: -17em;
  margin-left: 70em;
        
}

.social div{
  padding: .3em;
  font-size: 2em;

}

.social a{
  color: #ccc;
}

.social a:hover{
  transform: scale(1.1);
  color: #ffffff;
  transition: .4s;


}

footer li:hover{
  transform: scale(1.1);
  color: #ffffff;
  transition: .4s;

}

footer{
  position: absolute;
  top: 892em;
  color: #ffffff;
  float: left;

}

hr{
  width: 80em;
  position: absolute;
  margin-left: -36em;
  top: 13.2em;

}

.rights{
  position: absolute;
  margin-left: 53.4em;
  top: -2em;
  color: #ccc;

}

.logo_web-c{
  width: 12em;
  position:absolute;
  margin-left: 80em;
  top: -2.8em;

}

@media only screen and (max-width: 600px){

  header{
    height: 3.5em;
    
  }
    
  .typing-intro-animation-logo{
    width: 3.5em;
    margin-left: 1em;
    top: .8em;
  
    
  }

  @keyframes intro{
    0%{
    width: 3.5em;
    }
    25%{
    width: 3.5em;
    }
    50%{
    width: 3.7em;
    }
    75%{
    width: 3.7em;
    }
    100%{
    width: 3.7em;
    }
    }
   
  .typing-animation{
    font-size: 1.2em;
    margin-left: 3.2em;
    letter-spacing: 1px;
    margin-top: 1.3em;
  
  }

  .bg_video{
    margin-top: 2.8em;
  }
  
  .slogan{
    display: none;
  
  }
  
  .slides{
    margin-top: 15em;
  
  }
  
  .navigation-auto, .navigation-manual{
    display: none;
  
  }

  .container {
    display: none;
  
  
  }

  .container-white{
    top: -215em;
    width: 102%;
    
          
    }

    .background-white{
      height: 400em;

    }
    
    .video{
    width: 100%;
    border-left: none;
    margin-top: 9.5em;
    
    }
    
    .intern-1 img{
      margin: 0;
      width: 100%;
      margin-left: -.4em;
      margin-top: -50em;
      border-right: none;

    
    }
    
    .head_parag_1{
    font-size: 1.2em;
    top: 208.2em;
    margin-left: 2.8em;

    
    
          
    }
    
    .parag_1{
    font-size: 1em;
    top: 251.4em;
    margin-left: 8em;
    margin: 1.5em;
    
    
    }
    
    .intern-2 img{
      margin: 0;
      width: 101%;
      margin-top: -54em;
      border-left: none;

    
    }
    
    .head_parag_2{
      font-size: 1.2em;
      top: 242.4em;
      margin-left: 6em;
  
       
    }
    
    .parag_2{
      font-size: 1em;
      top: 292.5em;
      margin-left: 8em;
      margin: 1.5em;
    
    
    }
    
    .intern-3 img{
      margin: 0;
      width: 101%;
      margin-top: -53em;
      border-right: none;
      margin-left: -.4em;
    
    }
    
    .head_parag_3{
      font-size: 1.2em;
      top: 280.8em;
      margin-left: 3.5em;
          
    }
    
    .parag_3{
      font-size: 1em;
      top: 338.6em;
      margin-left: 8em;
      margin: 1.5em;
    
    
    }
    
        
    .intern-4 img{
      margin: 0;
      width: 101%;
      margin-top: -50em;
      border-left: none;

        
    }
    
    .head_parag_4{
      font-size: 1.2em;
      top: 321em;
      margin-left: 5em;
    
          
    }
    
    .parag_4{
      font-size: 1em;
      top: 386.7em;
      margin-left: 8em;
      margin: 1.5em;
       
    }
    
    
    .container-black{
    top: 415em;
    height: 220em;
    
    }
     
    .extern-1 img{
      margin: 10%;
      margin-left: 0;
      top: 420em;
      width: 100%;
      border-right:  none;
    
    }
    
    .flaps{
      opacity: 0;
    
    }
    
    .head_parag_5{
      font-size: 1.2em;
      top: 374.8em;
      margin-left: 4.1em;
      padding: 0;
      border: 0;
          
    }
    
    .parag_5{
      font-size: 1em;
      top: 451.6em;
      margin-left: 8em;
      margin: 1.5em;
    
    }
    
    .extern-2 img{
      margin: 10%;
      margin-left: 0;
      top: 450em;
      width: 100%;
      border-left:  none;
        
    }
    
    .head_parag_6{
      font-size: 1.2em;
      top: 424.8em;
      margin-left: 4em;
      padding: 0;
      border: 0;
    
          
    }
    
    .parag_6{
      font-size: 1em;
      top: 511.6em;
      margin-left: 8em;
      margin: 1.5em;
        
    }
    
    .extern-3 img{
      margin: 10%;
      margin-left: 0;
      top: 482em;
      width: 100%;
      border-right:  none;
    
    }
    
    .head_parag_7{
      font-size: 1.2em;
      top: 481em;
      margin-left: 1.6em;
      padding: 0;
      border: 0;
    
    
          
    }
    
    .parag_7{
      font-size: 1em;
      top: 582em;
      margin-left: 8em;
      margin: 1.5em;
    
    }
    
    .sketchs{
      display: none;
    
    
    }
    
    .mercedes_logo{
      top: 460em;
      margin-left: 3.8em;
      width: 20%;
      
    }
    
    .avatar_logo{
    top: 460em;
    margin-left: 8.9em;
    width: 40%;
    
        
    }
    
    footer{
    top: 500em;
    margin-left: -25em;
    padding-bottom: 12em;
    
    
    }

    
.logo_footer_mercedes{
  margin-left: 18em;
  font-size: 1.5em;
  margin-top: -3em;

}

.footer_block_1{
  margin-left: 27.2em;
  font-size: 1em;
  margin-top: 4em;


      
}

.footer_block_2{
  margin-left: 37em;
  font-size: 1em;
  margin-top: 4em;
      
}


.social{
  display: flex;
  top: -2em;
  margin-left: 26.8em;
        
}

.social div{
  padding: .3em;
  font-size: 2em;

}

.social a{
  color: #ccc;
}

.social a:hover{
  transform: scale(1.1);



}



hr{
  top: 18em;

}

.rights{
  margin-left: 27.5em;
  top: 7em;


}

.logo_web-c{
  width: 12em;
  margin-left: 25.5em;
  top: 10em;


}
}

@media only screen and (min-width: 600px) and (max-width: 767px){

  header{
    height: 5em;
    
  }
    
  .typing-intro-animation-logo{
    width: 5em;
    margin-left: 2em;
    top: 1.2em;
  
    
  }

  @keyframes intro{
    0%{
    width: 5em;
    }
    25%{
    width: 5em;
    }
    50%{
    width: 5.5em;
    }
    75%{
    width: 5.5em;
    }
    100%{
    width: 5.5em;
    }
    }
   
  .typing-animation{
    font-size: 1.5em;
    margin-left: 4em;
    letter-spacing: 2px;
    margin-top: 1.5em;
  
  }
  
  .bg_video{
    margin-top: 2em;
  }

  .slogan{
    font-size: 2em;
    top: 18em;
    left: 10.5%;
  
  }
  
  .slides{
    margin-top: 45em;
  
  }
  
  .navigation-auto, .navigation-manual{
    left: 65%;
    width: 2em;
  
  }
  
  .container {
    display: none;
  
  
  }

  .container-white{
    top: -215em;
    width: 102%;
    
          
    }

    .background-white{
      height: 450em;

    }
    
    .video{
    width: 100%;
    border-left: none;
    margin-top: 15em;
    
    }
    
    .intern-1 img{
      margin: 0;
      width: 101%;
      margin-top: -26em;
      border-right: none;
      max-width: 150%;
    
    }
    
    .head_parag_1{
    font-size: 1.5em;
    top: 192em;
    margin-left: 8.3em;
    
    
          
    }
    
    .parag_1{
    font-size: 1em;
    top: 289em;
    margin-left: 8em;
    margin: 3em;
    
    
    }
    
    .intern-2 img{
      margin: 0;
      width: 101%;
      margin-top: -20em;
      border-left: none;
      max-width: 150%;
    
    }
    
    .head_parag_2{
      font-size: 1.5em;
      top: 226em;
      margin-left: 11.2em;
       
    }
    
    .parag_2{
      font-size: 1em;
      top: 340em;
      margin-left: 8em;
      margin: 3em;
    
    
    }
    
    .intern-3 img{
      margin: 0;
      width: 101%;
      margin-top: -13.5em;
      border-right: none;
      max-width: 150%;
      margin-left: -.4em;
    
    }
    
    .head_parag_3{
      font-size: 1.5em;
      top: 260.2em;
      margin-left: 9.2em;
          
    }
    
    .parag_3{
      font-size: 1em;
      top: 391.5em;
      margin-left: 8em;
      margin: 3em;
    
    
    }
    
        
    .intern-4 img{
      margin: 0;
      width: 101%;
      margin-top: -5em;
      border-left: none;
      max-width: 150%;

        
    }
    
    .head_parag_4{
      font-size: 1.5em;
      top: 295.8em;
      margin-left: 10.2em;
    
          
    }
    
    .parag_4{
      font-size: 1em;
      top: 444.8em;
      margin-left: 8em;
      margin: 3em;
       
    }
    
    
    .container-black{
    top: 468em;
    height: 290em;
    
    }
     
    .extern-1 img{
      margin: 10%;
      margin-left: 0;
      top: 475em;
      width: 100%;
      border-right:  none;
    
    }
    
    .flaps{
      opacity: 0;
    
    }
    
    .head_parag_5{
      font-size: 1.5em;
      top: 354.5em;
      margin-left: 9.4em;
      padding: 0;
      border: 0;
          
    }
    
    .parag_5{
      font-size: 1em;
      top: 533em;
      margin-left: 8em;
      margin: 3em;
    
    }
    
    .extern-2 img{
      margin: 10%;
      margin-left: 0;
      top: 488em;
      width: 100%;
      border-left:  none;
        
    }
    
    .head_parag_6{
      font-size: 1.5em;
      top: 394.8em;
      margin-left: 9em;
      padding: 0;
      border: 0;
    
          
    }
    
    .parag_6{
      font-size: 1em;
      top: 593.5em;
      margin-left: 8em;
      margin: 3em;
        
    }
    
    .extern-3 img{
      margin: 10%;
      margin-left: 0;
      top: 512em;
      width: 100%;
      border-right:  none;
    
    }
    
    .head_parag_7{
      font-size: 1.5em;
      top: 457em;
      margin-left: 2.8em;
      padding: 0;
      border: 0;
    
    
          
    }
    
    .parag_7{
      font-size: 1em;
      top: 687em;
      margin-left: 8em;
      margin: 3em;
    
    }
    
    .sketchs{
      display: none;
    
    
    }
    
    .mercedes_logo{
      top: 600.2em;
      margin-left: 9.8em;
      font-size: 1em;
      
    }
    
    .avatar_logo{
    top: 600em;
    margin-left: 17.8em;
    
        
    }
    
    footer{
    top: 650em;
    margin-left: -25em;
    padding-bottom: 12em;
    
    
    }

    
.logo_footer_mercedes{
  margin-left: 19em;
  font-size: 1.5em;

}

.footer_block_1{
  margin-left: 35em;
  font-size: 1.2em;
  margin-top: 2.4em;


      
}

.footer_block_2{
  margin-left: 48em;
  font-size: 1.2em;
  margin-top: 2.4em;

      
}


.social{
  display: flex;
  top: -2em;
  margin-left: 39em;
        
}

.social div{
  padding: .3em;
  font-size: 2em;

}

.social a{
  color: #ccc;
}

.social a:hover{
  transform: scale(1.1);



}



hr{
  top: 18em;

}

.rights{
  margin-left: 40.8em;
  top: 6em;


}

.logo_web-c{
  width: 15em;
  margin-left: 40.2em;
  top: 9em;


}

}

@media only screen and (min-width: 768px) and (max-width: 991px){

  header{
    height: 5em;
    
  }
    
  .typing-intro-animation-logo{
    width: 5em;
    margin-left: 1em;
    top: 1.2em;
  
    
  }
    
  @keyframes intro{
    0%{
    width: 5em;
    }
    25%{
    width: 5em;
    }
    50%{
    width: 5.2em;
    }
    75%{
    width: 5.2em;
    }
    100%{
    width: 5.2em;
    }
    }
  
  .typing-intro-animation-logo:hover{
    transform: scale(1.05);
    transition: .3s;
  
  }
   
  .typing-animation{
    font-size: 2em;
    margin-left: 2.5em;
    letter-spacing: 3px;
    margin-top: 1.05em;
  
  }
  
  .bg_video{
    margin-top: 2.8em;

  }

  .slogan{
    font-size: 2.2em;
    top: 18em;
    left: 12.8%;
    position: absolute;

  
  }
  
  .slides{
    margin-top: 48em;
  
  }
  
  .navigation-auto, .navigation-manual{
    left: 65%;
    width: 2em;
  
  }
  
  .container {
    top: 75em;
  
  
  }

  .container-white{
    top: -158em;
    
          
    }
    
    .video{
    width: 100%;
    border-left: none;
    margin-top: 15em;
    
    }
    
    .intern-1 img{
    margin: 0;
    width: 101%;
    margin-left: -.4em;
    margin-top: -20em;
    border-right: none;
    max-width: 150%;
    
    }
    
    .head_parag_1{
    font-size: 1.5em;
    top: 198em;
    margin-left: 10.6em;
    
    
          
    }
    
    .parag_1{
    font-size: 1em;
    top: 298em;
    margin-left: 8em;
    margin: 3em;
    
    
    }
    
    .intern-2 img{
      margin: 0;
      width: 101%;
      margin-top: -10em;
      border-left: none;
      max-width: 150%;
    
    }
    
    .head_parag_2{
      font-size: 1.5em;
      top: 234.8em;
      margin-left: 14em;
       
    }
    
    .parag_2{
      font-size: 1em;
      top: 353em;
      margin-left: 8em;
      margin: 3em;
    
    
    }
    
    .intern-3 img{
      margin: 0;
      width: 101%;
      margin-top: 3em;
      border-right: none;
      max-width: 150%;
      margin-left: -.4em;
    
    }
    
    .head_parag_3{
      font-size: 1.5em;
      top: 273.5em;
      margin-left: 12em;
          
    }
    
    .parag_3{
      font-size: 1em;
      top: 411em;
      margin-left: 8em;
      margin: 3em;
    
    
    }
    
        
    .intern-4 img{
      margin: 0;
      width: 101%;
      margin-top: 17em;
      border-left: none;
      max-width: 150%;

        
    }
    
    .head_parag_4{
      font-size: 1.5em;
      top: 312.8em;
      margin-left: 12.9em;
    
          
    }
    
    .parag_4{
      font-size: 1em;
      top: 470em;
      margin-left: 8em;
      margin: 3em;
       
    }
    
    
    .container-black{
    top: 494em;
    height: 290em;
    
    }
     
    .extern-1 img{
      margin: 10%;
      margin-left: 0;
      top: 505em;
      width: 100%;
      border-right:  none;
    
    }
    
    .flaps{
      opacity: 0;
    
    }
    
    .head_parag_5{
      font-size: 1.5em;
      top: 380.5em;
      margin-left: 12.3em;
      padding: 0;
      border: 0;
          
    }
    
    .parag_5{
      font-size: 1em;
      top: 572em;
      margin-left: 8em;
      margin: 3em;
    
    }
    
    .extern-2 img{
      margin: 10%;
      margin-left: 0;
      top: 518em;
      width: 100%;
      border-left:  none;
        
    }
    
    .head_parag_6{
      font-size: 1.5em;
      top: 424.5em;
      margin-left: 12em;
      padding: 0;
      border: 0;
    
          
    }
    
    .parag_6{
      font-size: 1em;
      top: 638em;
      margin-left: 8em;
      margin: 3em;
        
    }
    
    .extern-3 img{
      margin: 10%;
      margin-left: 0;
      top: 545em;
      width: 100%;
      border-right:  none;
    
    }
    
    .head_parag_7{
      font-size: 1.5em;
      top: 495.5em;
      margin-left: 5.5em;
      padding: 0;
      border: 0;
    
    
          
    }
    
    .parag_7{
      font-size: 1em;
      top: 745em;
      margin-left: 8em;
      margin: 3em;
    
    }
    
    .sketchs{
      display: none;
    
    
    }
    
    .mercedes_logo{
      top: 740.2em;
      margin-left: 13.7em;
      
    }
    
    .avatar_logo{
    top: 740em;
    margin-left: 21.7em;
    
        
    }
    
    footer{
    top: 800em;
    margin-left: -25em;
    padding-bottom: 12em;
    
    
    }

    
.logo_footer_mercedes{
  margin-left: 19em;
  font-size: 1.5em;

}

.footer_block_1{
  margin-left: 35em;
  font-size: 1.2em;
  margin-top: 2.4em;


      
}

.footer_block_2{
  margin-left: 48em;
  font-size: 1.2em;
  margin-top: 2.4em;

      
}


.social{
  display: flex;
  top: -2em;
  margin-left: 43em;
        
}

.social div{
  padding: .3em;
  font-size: 2em;

}

.social a{
  color: #ccc;
}

.social a:hover{
  transform: scale(1.1);



}



hr{
  top: 18em;

}

.rights{
  margin-left: 44.5em;
  top: 6em;


}

.logo_web-c{
  width: 15em;
  margin-left: 43.7em;
  top: 9em;


}


}

@media only screen and (min-width: 992px) and (max-width: 1199px){

header{
  height: 6.5em;
  
}
  
.typing-intro-animation-logo{
  width: 7em;
  margin-left: 5em;
  top: 1.4em;

  
}
  
.typing-intro-animation-logo:hover{
  transform: scale(1.04);
  
}
  
@keyframes intro{
  0%{
  width: 7em;
  }
  25%{
  width: 7em;
  }
  50%{
  width: 7.5em;
  }
  75%{
  width: 7.5em;
  }
  100%{
  width: 7.5em;
  }
  }

.typing-intro-animation-logo:hover{
  transform: scale(1.05);
  transition: .3s;

}
 
.typing-animation{
  font-size: 2.2em;
  margin-left: 5em;
  letter-spacing: 4px;
  margin-top: 1.3em;

}

.bg_video{
  top: -1em;
  z-index: -1;

}

.slogan{
  font-size: 3em;
  top: 18em;
  left: 15%;

}

.slides{
  margin-top: 65em;

}

.navigation-auto, .navigation-manual{
  left: 60%;

}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
  
}

.container {
  top: 110em;


}

.typing-intro-animation-logo{
  width: 7em;

}

@keyframes intro{
0%{
width: 7em;

}
25%{
width: 7.5em;

}
50%{
width: 7em;

}
75%{
width: 7em;

}
100%{
width: 7em;

}
}

.typing-animation{
margin-left: 5em;
top: -.4em;

}

.slogan{
font-size: 3em;
top: 19em;
left: 15%;

}


.slides{
margin-top: 68em;

}

.navigation-auto, .navigation-manual{
left: 62%;
padding-top: 2em;


}

.container {
top: 120em;

}

.background-white{
height: 300em;

}

.container-white{
top: -120em;

      
}

.video{
border-left: none;
margin: 8.2%;
margin-top: 15em;

}

.intern-1 img{
margin: 10%;
width: 80%;
margin-top: -10em;
border-right:  none;

}

.head_parag_1{
font-size: 1.5em;
top: 208em;
margin-left: 18.4em;


      
}

.parag_1{
font-size: 1em;
top: 308em;
margin-left: 8em;
margin: 8em;


}

.intern-2 img{
  margin: 10%;
  width: 80%;
  margin-top: 2em;
  border-left:  none;

}

.head_parag_2{
  font-size: 1.5em;
  top: 246em;
  margin-left: 21em;
   
}

.parag_2{
  font-size: 1em;
  top: 365em;
  margin-left: 8em;
  margin: 8em;


}

.intern-3 img{
  margin: 10%;
  width: 80%;
  margin-top: 14em;
  border-right:  none;

}

.head_parag_3{
  font-size: 1.5em;
  top: 284em;
  margin-left: 19em;
      
}

.parag_3{
  font-size: 1em;
  top: 422em;
  margin-left: 8em;
  margin: 8em;

}

    
.intern-4 img{
  margin: 10%;
  width: 80%;
  margin-top: 28em;
  border-left:  none;
    
}

.head_parag_4{
  font-size: 1.5em;
  top: 323.5em;
  margin-left: 20em;

      
}

.parag_4{
  font-size: 1em;
  top: 481.5em;
  margin-left: 8em;
  margin: 8em;
   
}


.container-black{
top: 510em;
height: 300em;

}
 
.extern-1 img{
  margin: 10%;
  top: 520em;
  width: 80%;
  border-right:  none;

}

.flaps{
  opacity: 0;

}

.head_parag_5{
  font-size: 1.5em;
  top: 396em;
  margin-left: 19.3em;
  padding: 0;
  border: 0;
      
}

.parag_5{
  font-size: 1em;
  top: 590.5em;
  margin-left: 8em;
  margin: 8em;

}

.extern-2 img{
  margin: 10%;
  top: 520em;
  width: 80%;
  border-left:  none;
    
}

.head_parag_6{
  font-size: 1.5em;
  top: 437em;
  margin-left: 19em;
  padding: 0;
  border: 0;

      
}

.parag_6{
  font-size: 1em;
  top: 652em;
  margin-left: 8em;
  margin: 8em;
    
}

.extern-3 img{
  margin: 10%;
  top: 540em;
  width: 80%;
  border-right:  none;

}

.head_parag_7{
  font-size: 1.5em;
  top: 513em;
  margin-left: 13em;
  padding: 0;
  border: 0;


      
}

.parag_7{
  font-size: 1em;
  top: 766em;
  margin-left: 8em;
  margin: 8em;

}

.sketchs{
  display: none;


}

.mercedes_logo{
  top: 830.2em;
  margin-left: 25em;
  
}

.avatar_logo{
top: 830em;
margin-left: 33em;

    
}

footer{
top: 888em;
margin-left: -19.4em;


}

.rights{
  top: -1em;
  left: -3em;

}
.logo_web-c{
width: 14em;
left: -5em;
top: -2em;



}



}

@media only screen and (min-width: 1200px) and (max-width: 1400px){
  
  .typing-intro-animation-logo{
    width: 7em;

}

@keyframes intro{
  0%{
  width: 7em;

  }
  25%{
  width: 7.5em;

  }
  50%{
  width: 7em;

  }
  75%{
  width: 7em;

  }
  100%{
  width: 7em;
 
  }
}

.typing-animation{
  margin-left: 5em;
  top: -.4em;

}

  .slogan{
  font-size: 3em;
  top: 19em;
  left: 17.5%;

}


.slides{
  margin-top: 68em;

}

.navigation-auto, .navigation-manual{
  left: 62%;
  padding-top: 2em;


}

.container {
  top: 120em;

}

.background-white{
  height: 410em;

}

.container-white{
  top: -120em;

        
}

.video{
  border-left: 13em solid #eee;

}
  
.intern-1 img{
  margin-top: -10em;
  margin-left: 40%;
  border-right:  90px solid #f1f1f1;

}

.head_parag_1{
  font-size: 1.5em;
  top: 185em;
        
}

.parag_1{
  font-size: .8em;
  top: 354em;
  margin-left: 8em;


}

.intern-2 img{
  top: 300em;
  border-left:  90px solid #f1f1f1;

}

.head_parag_2{
  font-size: 1.5em;
  top: 206.5em;
  margin-left: 35.2em;

     
}

.parag_2{
  font-size: .8em;
  top: 392em;


}

.intern-3 img{
  margin-top: -33em;
  margin-left: 40%;
  border-right:  90px solid #f1f1f1;

}

.head_parag_3{
  font-size: 1.5em;
  top: 229em;
        
}

.parag_3{
  font-size: .8em;
  top: 434.5em;
  margin-left: 8em;
}

      
.intern-4 img{
  top: 368em;
  border-left:  90px solid #f1f1f1;
      
}

.head_parag_4{
  font-size: 1.5em;
  top: 252em;
  margin-left: 35.2em;

        
}

.parag_4{
  font-size: .8em;
  top: 477.8em;
     
}


.container-black{
  top: 415em;
  height: 162em;

}
   
.extern-1 img{
  top: 425em;
  margin-left: 40em;

}

.flaps{
  top: 405em;
  margin-left: -1em;
  width: 40%;

     
}

.head_parag_5{
  font-size: 1.5em;
  top: 285em;

        
}

.parag_5{
  font-size: .8em;
  top: 540em;
  margin-left: 7.6em;

}

.extern-2 img{
  width: 60%;
  top: 415em;
  margin-left: -1em;
      
}

.head_parag_6{
  margin-left: 25em;
  padding-left: 12em;
  font-size: 1.5em;
  top: 323em;

        
}

.parag_6{
  font-size: .8em;
  top: 611em;
  margin-left: 65em;
      
}

.extern-3 img{
  top: 422em;
  margin-left: 40em;

}

.head_parag_7{
  font-size: 1.5em;
  top: 350em;
  padding-right: 4em;
  margin-left: 3em;


        
}

.parag_7{
  font-size: .8em;
  top: 662em;
  margin-left: 6em;

}

.sketchs{
  display:flex;
  width: 60%;
  margin-left: .2em;


}

.sketchs img{
  top: 315em;
  margin-left: 14.7em;
     
}

.mercedes_logo{
  top: 615em;
  margin-left: 28em;
  
}

.avatar_logo{
  top: 615em;
  margin-left: 36em;

      
}

footer{
  top: 650em;
  margin-left: -19.4em;


}

.logo_web-c{
  width: 14em;


}
}